---
import IntroSection from "../components/IntroSection.astro"
import ServicesSection from "../components/ServicesSection.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
	title='Joel Galindo | Nutricionista Deportivo NutriGJ'
	description='Ponte en manos de Joel Galindo para ayudarte mejorar tu rendimiento. Nutricionista Deportivo y Creador de Contenido. Especializado en deportes de raqueta y endurance'
>
	<main class="px-4">
		<IntroSection/>
		<ServicesSection/>
	</main>
</Layout>